.cardFirmante {
    border: solid 1px gray;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(73, 72, 72);
    color: white;
}

.cardFirmante-nombre {

}

.cardFirmante--contenedorEliminar {
    background-color: rgb(187, 0, 0);
}

.cardFirmante--contenedorEliminar--boton {
    color: white;
    cursor: pointer;
}