
.contenedor-card-vocalia--titulo {
    border-radius: 3px;
    background-color: rgb(115, 115, 115)    ;
}

.contenedor-card-vocalia--icono {
    width: 30px;
    height: 30px;
}

.contenedor-card-vocalia--texto-titulo {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    }

.contenedor-card-vocalia--texto {
font-size: 1.1rem;
color: rgb(255, 255, 255);
}