.contenedor-card-juzgado {
    border: 1px solid rgb(0,0,0);
    border-radius: 5px;
    background-color: whitesmoke;
}

.contenedor-card-juzgado--titulo {
    background-color: rgb(115, 115, 115);
}