.fondo-titulo {
    background-image: url('../../Images/bgtitulo.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.texto-titulo {
    color: white;
    margin-left: 10vw;
}

