.carta {
    border: 1px solid rgba(0,0,0,.400);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    transition: box-shadow .300s ease-in-out;
}

.carta:hover {
    box-shadow: 0px 0px 15px #5e5e5e
    
}

.carta h4 {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.cardDependencia-imagen {
    height: 50px;
}