.navbar {
    font-size: 1.1rem;
    border-bottom: solid 0.5px rgb(175, 186, 240);
}

.active {
    /* text-shadow: 2px 2px 4px rgb(51, 51, 51); */
    font-weight: bold;
  }


.contenedor-logo {
    display: flex;
    flex: row;
    align-items: center;
}

.contenedor-logo--img-logo {
    height: 60px;
    padding: 0px;
    margin: 0px;
}

.contenedor-logo--texto-logo {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    align-items: center;
    margin-left: 5px;
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 10px;
}

.texto-pjn {
    font-size: .9rem;
}


