@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
